<table style="width:300;">
	<tr>
		<td style="background-color: #7e837f; /* moss gray */">
			<p><img src="/assets/images/ZACKY-icon.jpg" alt="山崎 進" title="山崎 進"></p>
		</td>
		<td style="width:400px; background-color: #7e837f; /* moss gray */">
			<p style="font-size:12px;">
				山崎 進: 北九州市立大学でプログラミングを教えています。「自ら学ぶ力を持たせる」「個性に合わせた長所を伸ばす」「現実社会の問題解決の経験を積ませる」教育を広めることがミッションです。創意工夫にあふれた社会にしたいです。
			</p>
			<a href="https://facebook.com/zacky1972" target="_blank">
				<img width=16 hight=16 src="http://google.com/s2/favicons?domain=facebook.com"/>
			</a>
			<a href="https://twitter.com/zacky1972" target="_blank">
				<img width=16 hight=16 src="http://google.com/s2/favicons?domain=twitter.com"/>
			</a>
			<a href="https://plus.google.com/+SusumuYAMAZAKI" target="_blank">
				<img width=16 hight=16 src="http://google.com/s2/favicons?domain=plus.google.com"/>
			</a>
		</td>
	</tr>
</table>
