<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Susumu Yamazaki">
	<title>{{ include.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/pygments.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/mediaquery.css">
	<link rel="apple-touch-icon" href="{{ site.url }}/assets/images/apple-touch-icon.png">
	<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico">
	<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
</head>
<body>
	{% include header.html %}
	{% include navigation.html %}
<!-- ▼ contents -->
<article class="contents blog">

  <section class="search">
    <form action="http://www.google.com/search" id="nav-search">
      <input type="hidden" name="hl" value="ja">
      <input type="hidden" name="hq" value="inurl:{{ site.url }}">
      <input type="hidden" name="ie" value="utf-8">
      <input type="hidden" name="oe" value="utf-8">
      <input type="hidden" name="filter" value="0">
      <input class="search-input" type="text" name="q" size="11" maxlength="20" value="">
      <input class="search-button" type="image" name="btnG" value="検索" alt="検索" src="{{ site.url }}/assets/images/ico-search.png">
    </form>
  </section>

  <section id="pagetop">
    <div><a href="#header">ZACKY's Software Educational Laboratory Page Topへ</a></div>
  </section>

  <section class="main">
    <div class="story">
      {{ content }}
    </div>
  </section>

</article>
<!-- ▲ contents -->

	{% include footer.html %}
</body>
</html>