<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
	<meta charset="utf-8">
	<meta name="author" content="Susumu Yamazaki">
  <meta property="article:author" content="https://www.facebook.com/zacky1972" />
  <meta property="article:publisher" content="https://www.facebook.com/zacky1972lab"/>
	<title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="{{ site.vision }}" />
  <meta property="og:url" content="https://zacky1972.github.io{{ page.url }}" />
  <meta property="og:image" content="https://zacky1972.github.io/assets/images/ZACKY.jpg" />
  <meta property="og:site_name" content="ZACKY's Laboratory 強み x 教育 研究室" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="fb:app_id" content="1535470796675479" />

  {% include twitter_card.html %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:text:description" contents="{{ site.vision }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  {% include stylesheets.html %}
  {% include head_icons.html %}
  {% include head_rss.html %}
  {% include javascripts.html %}
</head>
