<nav>
	<section>
		<ul>
			<li>
				<a href="/index.html">
					<dl>
						<dt>
							<img src="/assets/images/ico-home.png" alt="ZACKY's Laboratory ホームはこちら" title="ホーム">
						</dt>
						<dd>
							Home
						</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="/blog/">
					<dl>
						<dt>
							<img src="/assets/images/ico-blog.png" alt="ZACKY's Laboratory ブログはこちら" title="ブログ">
						</dt>
						<dd>
							Blog
						</dd>
					</dl>
				</a>
			</li>
			<li>
        		<a href="/courses/">
          			<dl>
          				<dt>
          					<img src="/assets/images/ico-courses.png" alt="担当授業についてはこちら" title="担当授業について">
          				</dt>
            			<dd>
            				Courses
            			</dd>
        			</dl>
        		</a>
      		</li>
			<li>
        		<a href="/about.html">
          			<dl>
          				<dt>
          					<img src="/assets/images/ico-about.png" alt="私たちについてはこちら" title="私たちについて">
          				</dt>
            			<dd>
            				About
            			</dd>
        			</dl>
        		</a>
      		</li>
		</ul>
	</section>
</nav>
