@charset "UTF-8";
/*-----------------------------------------------------------------------
  ●   defined by 2014 NEOZEST (http://neozest.jp/)
  ●   mediaquery definition

  001. common layout
  002. .top(/index.html)
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
  001 common layout
-----------------------------------------------------------------------*/
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .body {
    max-width: 640px;
  }
  .contents {
    width: 620px;
    font-size: 14px;
  }
  .blog .main {
    width: 620px;
  }
  .blog .story {
    padding: 5px;
  }
  .posts td {
    font-size: 14px;
  }
  header h1, h2 {
    width: 620px;
  }
  nav section {
    width: 620px;
  }
  footer {
    padding: 20px 0 0 0;
    width: 620px;
  }
  td.about_text {
    width: 520px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
  .body {
    max-width: 480px;
  }
  .contents {
    width: 460px;
    font-size: 16px;
  }
  .blog .main {
    width: 460px;
  }
  .blog .story {
    padding: 5px;
  }
  .posts td {
    font-size: 16px;
  }
  header h1,h2 {
    width: 460px;
  }
  nav section {
    width: 460px;
  }
  nav ul {
    margin: 0 auto;
  }
  footer {
    padding: 12px 0 0 0;
    width: 460px;
  }
  table.about tr {
    float: center;
  }
  td.about_text {
    width: 370px;
  }
}
@media only screen and (max-width: 480px) {
  .body {
    max-width: 320px;
  }
  .contents {
    width: 300px;
    font-size: 16px;
  }
  .blog .main {
    width: 300px;
  }
  .blog .story {
    padding: 5px;
  }
  .posts td {
    font-size: 16px;
  }
  header h1,h2 {
    width: 300px;
  }
  nav section {
    width: 300px;
  }
  nav ul {
    margin: 0 auto;
  }
  footer {
    padding: 12px 0 0 0;
    width: 300px;
  }
  table.about tr {
    float: center;
  }
  td.about_text {
    width: 190px;
  }
  .posts td.date {
    display: none;
  }
  .posts td.tag {
    display: none;
  }
  .posts td.title {
    width: 100%;
  }
}
/*-----------------------------------------------------------------------
  002 .top(/index.html)
-----------------------------------------------------------------------*/
@media screen and (min-width: 641px) and (max-width: 959px) {
  .top .search {
    margin: 24px 0 0 0;
  }
  .top .search-input {
    width: 173px;
  }
  .top .menu li {
    height: 306px;
    margin: 0 0 0 11px;
    width: 204px;
  }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
  .top .search {
    float: none;
    margin: 24px 0 0 0;
    text-align: left;
  }
  .top .search-input {
    margin: 0 0 0 6px;
    width: 173px;
  }
  .top .menu li {
    float: none;
    height: 204px;
    margin: 32px auto 0 auto;
    width: 156px;
  }
  .top .menu li:first-child {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .top .search {
    float: none;
    margin: 24px 0 0 0;
    text-align: left;
  }
  .top .search-input {
    margin: 0 0 0 6px;
    width: 153px;
  }
  .top .menu li {
    float: none;
    height: 204px;
    margin: 32px auto 0 auto;
    width: 306px;
  }
  .top .menu li:first-child {
    margin: 0 auto;
  }
}