@charset "UTF-8";
/*-----------------------------------------------------------------------
  ●   defined by 2014 NEOZEST (http://neozest.jp/)
  ●   mediaquery definition

  001. common layout
  002. .top(/index.html)
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
  001 common layout
-----------------------------------------------------------------------*/
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .body {
    max-width: 640px;
  }
  .contents {
    width: 620px;
    font-size: 14px;
  }
  .blog .main {
    width: 620px;
  }
  .blog .story {
    padding: 4em 3em 2.5em 3em;
  }

  .posts td {
    font-size: 14px;
  }
  header h1, h2 {
    width: 620px;
  }
  nav section {
    width: 620px;
  }
  footer {
    padding: 20px 0 0 0;
    width: 620px;
  }
  td.about_text {
    width: 520px;
  }

  .story img {
    max-width: 620px;
    height: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
  .body {
    max-width: 480px;
  }
  .contents {
    width: 460px;
    font-size: 14px;
  }
  .blog .main {
    width: 460px;
  }
  .blog .story {
    padding: 4em 1em 2.5em 1em;
  }
  .posts td {
    font-size: 14px;
  }
  header h1,h2 {
    width: 460px;
  }
  nav {
    height: 60px;
  }
  nav section {
    width: 460px;
  }
  nav ul {
    margin: 0 auto;
    margin-left: -24px;
    width: 480px;
  }
  footer {
    padding: 12px 0 0 0;
    width: 460px;
  }
  table.about tr {
    float: center;
  }
  td.about_text {
    width: 370px;
  }

  .story img {
    max-width: 460px;
    height: auto;
  }

  .blog h1 {
    border-bottom: 1px solid #888888;
    margin-bottom: 25px;
    font-size: 1.5em;
  }
  .blog h2 {
    font-size: 1.35em;
    border-bottom: 1px solid #cccccc;
  }
  .blog h3 {
    font-size: 1.25em;
  }
  .blog h4 {
    font-size: 1.125em;
  }
  .blog h5 {
   font-size: 1.1125em;
  }
  .blog h6 {
   font-size: 1.11125em;
  }
}
@media only screen and (max-width: 480px) {
  .body {
    max-width: 320px;
  }
  .contents {
    width: 300px;
    font-size: 14px;
  }
  .blog .main {
    width: 300px;
  }
  .blog .story {
    padding: 4em 1em 2.5em 1em;
  }

  .story div:first-child {
    margin-right: 10px;
  }

  .story h1 {
    width: calc(100% - 64px - 10px);
  }

  .posts td {
    font-size: 14px;
  }
  header h1,h2 {
    width: 300px;
  }
  nav {
    height: 120px;
  }
  nav section {
    width: 300px;
  }
  nav ul {
    margin: 0 auto;
    width: 240px;
  }
  footer {
    padding: 12px 0 0 0;
    width: 300px;
  }
  table.about tr {
    float: center;
  }
  td.about_text {
    width: 190px;
  }
  .posts td.date {
    display: none;
  }
  .posts td.tag {
    display: none;
  }
  .posts td.title {
    width: 100%;
  }

  .story img {
    max-width: 300px;
    height: auto;
  }

  .blog h1 {
    border-bottom: 1px solid #888888;
    margin-bottom: 25px;
    font-size: 1.35em;
  }
  .blog h2 {
    font-size: 1.3em;
    border-bottom: 1px solid #cccccc;
  }
  .blog h3 {
    font-size: 1.25em;
  }
  .blog h4 {
    font-size: 1.125em;
  }
  .blog h5 {
   font-size: 1.1125em;
  }
  .blog h6 {
   font-size: 1.11125em;
  }
}
/*-----------------------------------------------------------------------
  002 .top(/index.html)
-----------------------------------------------------------------------*/
@media screen and (min-width: 641px) and (max-width: 959px) {
  .contents.search {
    margin: 24px 0 0 0;
  }
  .contents .search-input {
    width: 275px;
  }
  .top .menu li {
    height: 306px;
    margin: 0 0 0 11px;
    width: 204px;
  }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
  .contents .search {
    float: none;
    margin: 24px 0 0 0;
    text-align: left;
  }
  .contents .search-input {
    margin: 0 0 0 6px;
    width: 256px;
  }
  .top .menu li {
    float: none;
    height: 204px;
    margin: 32px auto 0 auto;
    width: 156px;
  }
  .top .menu li:first-child {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .contents .search {
    float: none;
    margin: 24px 0 0 0;
    text-align: left;
  }
  .contents .search-input {
    margin: 0 0 0 6px;
    width: 256px !important;
  }
  .top .menu li {
    float: none;
    height: 204px;
    margin: 32px auto 0 auto;
    width: 306px;
  }
  .top .menu li:first-child {
    margin: 0 auto;
  }
}