@charset "UTF-8";
/*-----------------------------------------------------------------------
  ●   defined by 2014 NEOZEST (http://neozest.jp/)
  ●   01 common layout definition
  01-01. basic tag
  01-02. outline
  01-03. header
  01-04. nav
  01-05. breadnav
  01-06. contens
  01-07. main
  01-08. sidebar
  01-09. footer
  01-10. posts
  01-99. other

  ●   02 page layout definition
  02-01. toppage(/index.html)
  02-02. sitemap(/sitemap/sitemap.html)
  02-03. about(/about/about.html)
  02-04. vision(/vision/vision.html)
  02-05. blog(/blog/blog.html)
  02-06. interview(/interview.html)
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
  01-01. basic tag
-----------------------------------------------------------------------*/
html {
  font-size: 100%;
}
body {
  background: transparent url('../images/bac-body.png') repeat center top;
  color: #2b1d19;
  line-height: 170%;
  min-height: 712px;
  min-width: 320px;
  position: relative;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "Meiryo", "MS PGothic", "MS UI Gothic", Osaka, sans-serif;
}
button,
input,
select,
textarea {
  font-size: 87.5%;
}
a,
a:link {
  color: #2b1d19;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition: 0.25s linear;
  -moz-transition-property: all;
  -moz-transition: 0.25s linear;
  -ms-transition-property: all;
  -ms-transition: 0.25s linear;
  -o-transition-property: all;
  -o-transition: 0.25s linear;
  transition-property: all;
  transition: 0.25s linear;
}
a:visited {
  color: #2b1d19;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition: 0.25s linear;
  -moz-transition-property: all;
  -moz-transition: 0.25s linear;
  -ms-transition-property: all;
  -ms-transition: 0.25s linear;
  -o-transition-property: all;
  -o-transition: 0.25s linear;
  transition-property: all;
  transition: 0.25s linear;
}
a:hover,
a:active {
  color: #ef0001;
  outline: 0;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition: 0.25s linear;
  -moz-transition-property: all;
  -moz-transition: 0.25s linear;
  -ms-transition-property: all;
  -ms-transition: 0.25s linear;
  -o-transition-property: all;
  -o-transition: 0.25s linear;
  transition-property: all;
  transition: 0.25s linear;
}
/*-----------------------------------------------------------------------
  01-02. outline
-----------------------------------------------------------------------*/
header {
  background: transparent url("../images/bac-header.png") repeat left top;
  height: 56px;
  position: relative;
  width: 100%;
}
nav {
  background: transparent url('../images/bac-nav.png') repeat center top;
  /*background-color: #313f27;*/
  font-family: 'Vollkorn', serif;
  font-size: 0.75em;
  height: 56px;
  letter-spacing: 0.063em;
  overflow: hidden;
  width: 100%;
  -webkit-transform: translate3d(0,0,0);
}
.breadnav {
  clear: both;
  font-size: 0.75em;
  margin: 0 auto;
  padding: 8px 0 0 0;
  width: 960px;
}
.contents {
  clear: both;
  margin: 0 auto;
  width: 960px;
}
footer {
  clear: both;
  padding: 80px 0 0 0;
  margin: 0 auto;
  width: 512px;
}
/*-----------------------------------------------------------------------
  01-03. header
-----------------------------------------------------------------------*/
header h1 {
  font-family: 'Vollkorn', serif;
  font-size: 1.125em;
  height: 32px;
  margin: 12px auto;
  width: 960px;
}
#header a,
#header a:link {
  background: transparent url("../images/bac-header-h1.png") no-repeat left top;
  color: #ffffff;
  display: inline-block;
  line-height: 36px;
  height: 32px;
  overflow: hidden;
  padding: 0 0 0 32px;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition: 0.25s linear;
  -moz-transition-property: all;
  -moz-transition: 0.25s linear;
  -ms-transition-property: all;
  -ms-transition: 0.25s linear;
  -o-transition-property: all;
  -o-transition: 0.25s linear;
  transition-property: all;
  transition: 0.25s linear;
}
#header a:hover {
  color: #ef0001;
  padding: 0 0 0 32px;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition: 0.25s linear;
  -moz-transition-property: all;
  -moz-transition: 0.25s linear;
  -ms-transition-property: all;
  -ms-transition: 0.25s linear;
  -o-transition-property: all;
  -o-transition: 0.25s linear;
  transition-property: all;
  transition: 0.25s linear;
}
/*-----------------------------------------------------------------------
  01-04. nav
-----------------------------------------------------------------------*/
nav section {
  line-height: 16px;
  margin: 0 auto;
  width: 960px;
}
nav img {
  height: 24px;
  width: 24px;
}
nav li {
  float: left;
  padding: 8px 0;
  text-align: center;
  width: 80px;
}
nav li:first-child {
  display: none;
}
nav a,
nav a:link {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition: 0.25s linear;
  -moz-transition-property: all;
  -moz-transition: 0.25s linear;
  -ms-transition-property: all;
  -ms-transition: 0.25s linear;
  -o-transition-property: all;
  -o-transition: 0.25s linear;
  transition-property: all;
  transition: 0.25s linear;
}
nav a:visited {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition: 0.25s linear;
  -moz-transition-property: all;
  -moz-transition: 0.25s linear;
  -ms-transition-property: all;
  -ms-transition: 0.25s linear;
  -o-transition-property: all;
  -o-transition: 0.25s linear;
  transition-property: all;
  transition: 0.25s linear;
}
nav a:hover,
nav a:active {
  color: #ef0001;
  outline: 0;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition: 0.25s linear;
  -moz-transition-property: all;
  -moz-transition: 0.25s linear;
  -ms-transition-property: all;
  -ms-transition: 0.25s linear;
  -o-transition-property: all;
  -o-transition: 0.25s linear;
  transition-property: all;
  transition: 0.25s linear;
}
.fixed {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.fixed_mobile {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
/*-----------------------------------------------------------------------
  01-05. breadnav
-----------------------------------------------------------------------*/
.breadnav li {
  float: left;
  margin: 0 4px 0 0;
}
.breadnav li + li:before {
  color: #777777;
  margin: 0 4px 0 0;
  content: ">";
}

/*-----------------------------------------------------------------------
  01-06. contents
-----------------------------------------------------------------------*/
.contents {
  line-height: 1.5em; 
}
.contents .search {
  float: right;
  height: 64px;
  line-height: 64px;
  margin: 4px 0 24px 0;
  overflow: hidden;
  text-align: right;
  width: 320px;
}
.contents .search-input {
  border: 1px solid #2b1d19;
  font-family: 'Vollkorn', serif;
  height: 20px;
  padding: 0 0 0 2px;
  width: 275px;
}
.contents .search-button {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}
.contents .fb-like {
  float: left;
  padding-top: 12px;
}

/*-----------------------------------------------------------------------
  01-07. main
-----------------------------------------------------------------------*/

.previous {
  background: #c8e6c9;
  display: block;
  float: left;
  margin: 2em 0 0 0;
  overflow: hidden;
  padding: 4px 8px;
  width: 100%;
}

.next {
  background: #f0f4c3;
  display: block;
  float: right;
  margin: 0 0 0 0;
  overflow: hidden;
  padding: 4px 8px;
  text-align: right;
  width: 100%;
}

/*-----------------------------------------------------------------------
  01-08. sidebar
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
  01-09. footer
-----------------------------------------------------------------------*/
table.about {
  margin: 0;
  border: 0;
  padding: 0;
}

table.about td {
  background-color: #7e837f; /* moss gray */
}

table.about p {
  color: #004d25; /* bottle green */
}

td.about_img {
  line-height: 0px;
}

.about td {
  height: 96px;
}

td.about_text {
  width: 100%;
  font-size:12px;
  line-height: 1.25em
}

td.about_text p {
  font-size:12px;
  line-height: 1.25em
  margin: 0.2em 0px;
  padding-top: 2px;
}

.copyrights {
  text-align:center;
  font-size:11px;
}

/*-----------------------------------------------------------------------
  01-10. posts
-----------------------------------------------------------------------*/

.posts {
  font-size: 14px;
}

.posts table, td {
  border: #c1ab05 2px solid; /* antique gold */
  border-collapse: collapse;
  background-color: #ffedab; /* sunshine yellow */
  padding: 4px;
}

.posts td.date {
  width: 15%;
}


.posts td.tags {
  width: 30%;
}


.posts td.title {
  width: 55%;
}

/*-----------------------------------------------------------------------
  01-99. other
-----------------------------------------------------------------------*/
.clear {
  clear: both;
}
#pagetop {
  bottom: 84px;
  height: 24px;
  right: 8px;
  position: fixed;
  width: 24px;
}
#pagetop a {
  background: transparent url("../images/ico-pagetop.png") no-repeat left top;
  background-size: 24px 24px;
  display: block;
  height: 24px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 24px;
}


/*-----------------------------------------------------------------------
  02-01. .top(/index.html)
-----------------------------------------------------------------------*/
.top .search {
  float: right;
  height: 40px;
  line-height: 40px;
  margin: 48px 0 24px 0;
  overflow: hidden;
  text-align: right;
  width: 320px;
}
.top .search-input {
  border: 1px solid #2b1d19;
  font-family: 'Vollkorn', serif;
  height: 20px;
  padding: 0 0 0 2px;
  width: 275px;
}
.top .search-button {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}
.top .menu {
  overflow: hidden;
  padding: 24px 0 0 0;
  width: 100%;
}
.top .menu li {
  background: #ffffff;/*アニメさせる*/
  border: 1px solid #2b1d19;
  float: left;
  height: 408px;
  margin: 0 0 0 18px;
  position: relative;
  width: 306px;
}
.top .menu li:first-child {
  margin: 0;
}
.top .menu h2 {
  background-color: #ffffff;
  font-family: 'Vollkorn', serif;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.top .menu dl {
  height: 344px;
}
.top .menu dt {
  font-family: 'Vollkorn', serif;
  padding: 16px 8px;
  text-align: center;
}
.top .menu dd {
  padding: 16px 8px;
  text-align: center;
}
.top .menu p {
  background-color: #ffffff;
  bottom: 0;
  font-family: 'Vollkorn', serif;
  height: 32px;
  left: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/*-----------------------------------------------------------------------
  02-05. blog(/blog.html)
-----------------------------------------------------------------------*/
.blog .main {
  background: transparent url('../images/bac-main.png') repeat center top;
  margin: 0 auto;
  width: 960px;
}
.blog .story {
  padding: 4em 7em 2.5em 7em;
  overflow: hidden;
  border-bottom: 1px solid black;
}

.blog figure dl {
  border: 1px solid #777777;
  float: left;
  font-size: 0.85em;
  margin: 0 1em 1.5em 1em;
  padding: 1em 1em 0 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.blog figure dt {
  padding: 0 0 0.5em 0;
}
.blog dt {
  font-weight: bold;
}
.blog p {
  padding: 0 0 1em 0;
}
.blog ol {
  padding: 1em 1em 1.5em 1em;
  margin: 0 0 2px 2em;
}
.blog ul {
  padding: 0 0 1em 0;
  margin: 0 0 2px 2.5em;
}
.blog ol li {
  list-style-type: decimal;
}
.blog ul li {
  list-style-type: disc;
  line-height: 120%;
}
.blog .prologue {
  color: #333333;
  font-size: 0.85em;
  padding: 0 0 1em 0;
}
.blog .chapter-01,
.blog .chapter-02,
.blog .chapter-03 {
  padding: 0 0 1.5em 0;
}
.blog .important {
  color: #c9171e;
  font-weight: bold;
}

.blog h1, h2, h3, h4, h5, h6 {
  margin: 25px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-soothing: antialiased;
  cursor: text;
  position: relative;
  line-height: 1.5em;
}
.blog h1 tt, h1 code {
  font-size: inherit;
}
.blog h2 tt, h2 code {
  font-size: inherit;
}
.blog h3 tt, h3 code {
  font-size: inherit;
}
.blog h4 tt, h4 code {
  font-size: inherit;
}
.blog h5 tt, h5 code {
  font-size: inherit;
}
.blog h6 tt, h6 code {
  font-size: inherit;
}
.blog h1 {
  border-bottom: 1px solid #888888;
  margin-bottom: 25px;
  font-size: 2.0em;
}
.blog h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #cccccc;
}
.blog h3 {
  font-size: 1.25em;
}
.blog h4 {
  font-size: 1.125em;
}
.blog h5 {
  font-size: 1.1125em;
}
.blog h6 {
  font-size: 1.11125em;
}

.story img {
  max-width: 640px;
  height: auto;
}

.story div:first-child {
  margin-right: 20px;
  margin-top: calc(10px - 32px);
  width: 64px;
  height: 64px;
  float: left;
  position: relative;
}

.story h1:nth-child(2) {
  width: calc(100% - 64px - 20px);
  float: left;
  position: relative;
  vertical-align: text-top;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*-----------------------------------------------------------------------
  02-06. interview(/interview.html)
-----------------------------------------------------------------------*/
.interview .main {
  background: transparent url('../images/bac-main.png') repeat center top;
  margin: 0 auto;
  width: 960px;
}
.interview .story {
  padding: 4em 7em 2.5em 7em;
}
.interview h2 {
  font-size: 1.125em;
  font-weight: bold;
  margin: 0 0 0 -1em;
}
.interview .interviewer {
  font-size: 0.75em;
  padding: 0.5em 0 1.5em 0;
  text-align: right;
}
.interview h3 {
  font-weight: bold;
  margin: 0 0 0 -1em;
  padding: 0 0 1em 0;
}
.interview figure dl {
  border: 1px solid #777777;
  float: left;
  font-size: 0.85em;
  margin: 0 1em 1.5em 1em;
  padding: 1em 1em 0 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.interview figure dt {
  padding: 0 0 0.5em 0;
}
.interview dt {
  font-weight: bold;
}
.interview p {
  padding: 0 0 1em 0;
}
.interview ol {
  font-size: 0.85em;
  padding: 1em 1em 1.5em 1em;
}
.interview ul {
  padding: 0 0 1em 0;
}
.interview .prologue {
  color: #333333;
  font-size: 0.85em;
  padding: 0 0 1em 0;
}
.interview .chapter-01,
.interview .chapter-02
.interview .chapter-03 {
  padding: 0 0 1.5em 0;
}
.interview .question {
  color: #006a00;
}
.interview .answer {
  color: #2b1d19;
}
.interview .important {
  color: #c9171e;
  font-weight: bold;
}
