<!DOCTYPE html>
<html lang="ja">
{% include head_post.html %}
<body>
  {% include FB-SDK.html %}
	{% include header.html %}
	{% include navigation.html %}
<!-- ▼ contents -->
<article class="contents blog">

  {% include FB-Like-all.html %}
  {% include search.html %}
  
  <section id="pagetop">
    <div><a href="#header">ZACKY's Laboratory  強み x 教育 研究室 Page Topへ</a></div>
  </section>

  <section class="main">
    <div class="story">
      {{ content }}
      #end_contents
    </div>
  </section>

</article>
<!-- ▲ contents -->

	{% include footer.html %}

  {% include analytics.html %}
</body>
</html>