<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
  <meta charset="utf-8">
  <meta name="author" content="Susumu Yamazaki">
  <meta property="article:author" content="https://www.facebook.com/zacky1972" />
  <meta property="article:publisher" content="https://www.facebook.com/zacky1972lab"/>
  <title>{{ page.title }}</title>
  {% include facebook_ogp.html %}
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="{% include about-text.html %}" />
  <meta property="og:image" content="https://zacky1972.github.io/assets/images/ZACKY.jpg" />

  {% include twitter_card.html %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:text:description" contents="{% include about-text.html %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  {% include stylesheets.html %}
  {% include head_icons.html %}
  {% include head_rss.html %}
  {% include javascripts.html %}
</head>
<body>
  {% include FB-SDK.html %}
	{% include header.html %}
	{% include navigation.html %}
<!-- ▼ contents -->
<article class="contents blog">

  {% include FB-Like-all.html %}
  {% include search.html %}
  {% include other.html %}
  
  <section class="main">
    <div class="story">
      {{ content }}
    </div>
    <div class="end_contents"/>    
  </section>

</article>
<!-- ▲ contents -->

	{% include footer.html %}

  {% include qrcode.html %}

  {% include analytics.html %}

</body>
</html>