<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Susumu Yamazaki">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.url }}/assets/css/font-family-sans-serif.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/pygments.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/html.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/about.css">
	<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
</head>
<body>
	{{ content }}
	{% include about.html %}
</body>
</html>