<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="utf-8">
	<meta name="author" content="Susumu Yamazaki">
  <meta property="article:author" content="https://www.facebook.com/zacky1972" />
  <meta property="article:publisher" content="https://www.facebook.com/zacky1972lab"/>
	<title>{{ page.title }} 〜ZACKY's Laboratory</title>
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ page.excerpt }}" />
  <meta property="og:url" content="https://zacky1972.github.io{{ page.url }}" />
  <meta property="og:image" content="https://zacky1972.github.io/assets/images/ZACKY.jpg" />
  <meta property="og:site_name" content="ZACKY's Laboratory" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="fb:app_id" content="1535470796675479" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@zacky1972">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/pygments.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/mediaquery.css">
	<link rel="apple-touch-icon" href="{{ site.url }}/assets/images/apple-touch-icon.png">
	<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico">
	<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  {% include FB-SDK.html %}
	{% include header.html %}
	{% include navigation.html %}
<!-- ▼ contents -->
<article class="contents blog">

  {% include FB-Like.html %}
  {% include search.html %}
  
  <section id="pagetop">
    <div><a href="#header">ZACKY's Software Educational Laboratory Page Topへ</a></div>
  </section>

  <section class="main">
    <div class="story">
      {{ content }}
      {% include FB-Like.html %}
    </div>
    
    <span class="previous">
      {% if page.previous %}
       <a href="{{ site.url }}{{ page.previous.url }}">&lt;&lt; {{ page.previous.title }}</a>
      {% endif %}
    </span>
    <span class="next">
      {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }}&gt;&gt;</a> 
      {% endif %}
    </span>
  </section>

</article>
<!-- ▲ contents -->

	{% include footer.html %}
</body>
</html>
