<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta name="author" content="Susumu Yamazaki">
  <meta property="article:author" content="https://www.facebook.com/zacky1972" />
  <meta property="article:publisher" content="https://www.facebook.com/zacky1972lab"/>
  <title>{{ page.title }} 〜ZACKY's Laboratory 強み x 教育 研究室</title>
  {% include facebook_ogp.html %}
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ page.excerpt }}" />
  <meta property="og:image" content="https://zacky1972.github.io/assets/images/ZACKY.jpg" />

  {% include twitter_card.html %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:text:description" content="{{ page.excerpt }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  {% include stylesheets.html %}
  {% include head_icons.html %}
  {% include head_rss.html %}
  {% include javascripts.html %}
</head>
<body>
  {% include FB-SDK.html %}
	{% include header.html %}
	{% include navigation.html %}
<!-- ▼ contents -->
<article class="contents blog">

  {% include search.html %}
  {% include other.html %}

  <section class="main">
    <div class="story">
      {{ content }}
      <div class="end_contents"/>    
      {% include FB-Like.html %}
    </div>
    
    <span class="previous">
      {% if page.previous %}
       <a href="{{ site.url }}{{ page.previous.url }}">&lt;&lt; {{ page.previous.title }}</a>
      {% endif %}
    </span>
    <span class="next">
      {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }}&gt;&gt;</a> 
      {% endif %}
    </span>
  </section>

</article>
<!-- ▲ contents -->

	{% include footer.html %}

  {% include qrcode.html %}

  {% include analytics.html %}
</body>
</html>
