<!DOCTYPE html>
<html lang="ja">
{% include head_default.html %}
<body>
  {% include FB-SDK.html %}
	{% include header.html %}
	{% include navigation.html %}
<!-- ▼ contents -->
<article class="contents blog">

  {% include search.html %}
  
  <section id="pagetop">
    <div><a href="#header">ZACKY's Laboratory 強み x 教育 研究室 Page Topへ</a></div>
  </section>

  <section class="main">
    <div class="story">
      {{ content }}
      {% include FB-Like.html %}
    </div>
    
    <span class="previous">
      {% if page.previous %}
       <a href="{{ site.url }}{{ page.previous.url }}">&lt;&lt; {{ page.previous.title }}</a>
      {% endif %}
    </span>
    <span class="next">
      {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }}&gt;&gt;</a> 
      {% endif %}
    </span>
  </section>

</article>
<!-- ▲ contents -->

	{% include footer.html %}

  {% include analytics.html %}
</body>
</html>
